---
import Layout from "../layouts/Layout.astro";

const meta = {
  title: "Pricing - Empire Builder",
};
---

<Layout meta={meta}>

  <main class="max-w-screen-xl mx-auto px-5">
  TODO
  </main>
</Layout>
