@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	tab-size: 4;
	font-family: Yaldevi, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
	font-feature-settings: normal;
}

.btn {
  @apply relative inline-flex items-center justify-center rounded ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2;
  @apply border border-solid;
  @apply min-w-fit py-2 px-4 text-sm font-medium;
  @apply disabled:bg-opacity-30 disabled:hover:bg-opacity-30;
}

.btn-primary {
  @apply border-sky-600 bg-sky-600 text-white hover:bg-sky-700 focus:ring-sky-500;
}

.btn-neutral {
  @apply border-stone-900 bg-white text-stone-900 hover:bg-stone-100 focus:ring-stone-500;
}

.btn-danger {
  @apply border-red-600 bg-red-600 text-white hover:bg-red-700 focus:ring-red-400;
}

.menu-item {
  @apply flex w-full items-center rounded-sm px-2 py-2 text-sm text-stone-700 font-semibold;
  @apply data-[headlessui-state=active]:bg-indigo-500 data-[headlessui-state=active]:text-white;
}

