---
import { SEO, Props as MetaProps } from "astro-seo";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

export interface Props {
  meta: MetaProps;
}

const { meta } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO {...meta} />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
